#item-container {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    line-height: 60px;
    .contact-name {
        font-family: monospace;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        border-bottom: 1px #bdb2a2 solid;
    }
}

#item-container:hover {
    background-color: #9f9578;
}

.selected {
    background-color: #9f9578;
}

