<div *ngIf="selectedContact" class="container">
  <div class="contact-image"><img alt="contact image" [src]="selectedContact.img"></div>
  <button>Send Message</button>
  <div class="rating">{{selectedContact.rating}}</div>
  <div class="description">{{selectedContact.Description}}</div>
  <table class="likes">
    <tr>
      <th>Likes</th>
    </tr>
    <tr *ngFor="let like of selectedContact.Likes">
      <td>{{like}}</td>
    </tr>
  </table>
  <table class="dislikes">
      <tr>
        <th>Disikes</th>
      </tr>
      <tr *ngFor="let dislike of selectedContact.Dislikes">
        <td>{{dislike}}</td>
      </tr>
    </table>
</div>
