<div class="container">
    <header>
        <app-header (sidebarToggled)="sideBarExpanded=$event" (stringSearch)="directorySearch($event)"></app-header>
    </header>
    <section class="main-content">
        <app-contact-list-container [class.hide]="!sideBarExpanded" [class.show]="sideBarExpanded" (contactSelectEvent)="contactSelected($event)" [contactNames]="contactNames"></app-contact-list-container>
        <app-contact-item-details [selectedContact]="selectedContact"></app-contact-item-details>
    </section>
</div>