.container {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
}

header {
    width: 100%;
    height: 100px;
    background-color: blue;
    flex-basis: 100%;;
}


.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    app-contact-list-container {
        width: 30%;
        height: 100%;
    }
    
    
    app-contact-item-details {
        width: 70%;
        height: 100%;
        background-color: gray;
    }
}
